 .-hidden {
  display: none;
 }
 
 [name=header]{
  background-color: orangered;
 }

 [name=buttons] {
  background-color: orangered;
 }
 
 [name=player1] {
  background-color: #003cff;
  color:antiquewhite;
 }

 [name=player2] {
  background-color: #00ffc4;
 }
 
 